sqlalchemy==2.0.48
pdfplumber==0.11.9
pandas==3.0.1
python-dateutil==2.9.0.post0
pydantic==2.12.5
anthropic==0.86.0
pytest==9.0.2
python-dotenv==1.2.2
matplotlib==3.10.8
seaborn==0.13.2
jupyter==1.1.1
ipykernel==7.2.0
